.DS_Store
node_modules/
/dist/
/TopWebsite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
static/TOP_Executive_Summary_EN.pdf
src/assets/images/otherTeam
